/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors

  // Primary
  --color-soft-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  // graphic design text
  --color-dark-desat-cyan: hsl(167, 40%, 24%);
  // photography text
  --color-dark-blue: hsl(198, 62%, 26%);
  // footer
  --color-dark-mod-cyan: hsl(168, 34%, 41%);

  // Neutral
  --color-very-dark-desat-blue: hsl(212, 27%, 19%);
  --color-very-dark-gray-blue: hsl(213, 9%, 39%);
  --color-dark-gray-blue: hsl(232, 10%, 55%);
  --color-gray-blue: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%);

  // Spacing
  --margin-gutters: 3rem;
}

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.agency {
  &__hero--bg {
    background-image: url("./assets/images/mobile/image-header.jpg");
    padding-block-start: 2.5rem;
    padding-block-end: 49rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    color: var(--color-white);

    @media (min-width: 550px) {
      background-image: url("./assets/images/desktop/image-header.jpg");

      background-size: cover;
      background-position: center;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--margin-gutters);

    .nav__logo {
    }

    .nav__right {
      cursor: pointer;

      .nav__menu {
        .menu {
          &__modal {
            cursor: default;

            text-align: center;
            width: calc(100% - var(--margin-gutters) * 2);

            position: absolute;
            right: 3rem;
            bottom: 23%;
            z-index: 1;

            background: var(--color-white);

            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              z-index: 2;
              left: calc(100% - var(--margin-gutters) + 5px);
              top: -25px;

              border-left: 25px solid transparent;
              border-bottom: 25px solid var(--color-white);
            }

            a {
              font-size: 1.95rem;
              text-decoration: none;
            }

            a:link,
            a:visited {
              text-decoration: none;
              color: var(--color-dark-gray-blue);
            }
          }

          &__nav {
          }

          &__links {
            display: flex;
            flex-direction: column;
            gap: 2.52rem;
            margin-block: 3.1rem;
          }

          &__button {
            font-size: 1.6rem;
            border-radius: 100px;
            text-transform: uppercase;
            background-color: var(--color-yellow);
            padding-inline: 2.7rem;
            padding-block: 1.7rem;
            margin-block-end: 4rem;
            cursor: pointer;
          }

          &__desk {
            cursor: default;

            .desk {
              &__nav {
                display: flex;
                align-items: center;
                gap: 4rem;

                @media (min-width: 640px) {
                  gap: 3rem;
                }
              }

              &__links {
                display: flex;
                gap: 4rem;
                padding-bottom: 0.75rem;

                @media (min-width: 640px) {
                  gap: 3rem;
                }

                a {
                  font-size: 1.8rem;
                  text-decoration: none;
                }

                a:link,
                a:visited {
                  text-decoration: none;
                  color: var(--color-white);
                }
              }

              &__button {
                @extend .menu__button;
                font-size: 1.5rem;
                padding-inline: 2.2rem;
                padding-block: 1.5rem;
                background-color: var(--color-white);
                margin-block-end: 0;

                &:hover {
                  color: var(--color-white);
                  background-color: hsl(201, 94%, 75%);
                }

                @media (min-width: 640px) {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }

  &__hero {
    .hero__title {
      position: absolute;
      top: 25%;
      font-size: 4.1rem;
      text-transform: uppercase;
      letter-spacing: 0.13em;
      font-weight: 900;

      @media (min-width: 640px) {
        top: 25%;
        left: 50%;
        transform: translate(-50%);
        width: max-content;
      }
    }

    .hero__arrow {
      position: absolute;
      left: 45%;
      top: 52%;

      @media (min-width: 640px) {
        left: 47%;
        top: 43%;
      }
    }
  }

  &__main {
  }

  &__z {
    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__learn {
    margin-block-start: -1rem;
    background-color: var(--color-white);

    @media (min-width: 640px) {
      margin-block-start: 0;
    }

    .learn {
      &__bot {
        display: flex;
        gap: 2.8rem;
        flex-direction: column;
        align-items: center;
        padding-inline: var(--margin-gutters);
        padding-block-start: 6rem;
        padding-block-end: 7.4rem;
        color: var(--color-very-dark-desat-blue);
      }

      &__title {
        font-size: 3.15rem;
        font-weight: 900;
      }

      &__text {
        color: var(--color-dark-gray-blue);
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
        line-height: 1.8em;
      }

      &__more {
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
        cursor: pointer;
        padding-inline: 1rem;
      }
    }
  }

  .concept--2 {
    margin-block-start: -13.5rem;

    @media (min-width: 640px) {
      margin-block-start: 0;
    }
  }

  &__concept {
    padding-inline: var(--margin-gutters);
    padding-block-start: 2.5rem;
    padding-block-end: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    text-align: center;

    @media (min-width: 640px) {
      padding-block-start: 0;
      padding-block-end: calc(15rem + 2.2vw);
    }

    .concept {
      &__title {
        font-size: 2.85rem;
        font-weight: 900;
        margin-block-start: 34rem;
        margin-block-end: 4rem;

        @media (min-width: 640px) {
          margin-block-end: 0;
        }

        &--1 {
          color: var(--color-dark-desat-cyan);
        }
        &--2 {
          color: var(--color-dark-blue);
        }
      }

      &__text {
        font-size: 1.5rem;
        text-wrap: stable;
        scale: 1.05;
        line-height: 1.65em;
        &--1 {
          color: var(--color-dark-desat-cyan);
        }
        &--2 {
          color: var(--color-dark-blue);
        }
      }
    }
  }

  &__tests {
    background-color: var(--color-white);
    margin-block-start: -14rem;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-block-start: 7rem;
    padding-block-end: 9rem;
    padding-inline: var(--margin-gutters);

    .tests {
      display: flex;

      &__title {
        text-transform: uppercase;
        font-size: 1.65rem;
        font-weight: 900;
        letter-spacing: 4px;
        color: var(--color-gray-blue);

        @media (min-width: 640px) {
          font-size: 2.5rem;
        }
      }

      &__list {
        margin-block-start: 6rem;
        display: flex;
        flex-direction: column;
        gap: 6.5rem;

        @media (min-width: 640px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }
    }

    .test {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--1 {
        @media (min-width: 640px) {
          align-self: start;
        }
      }

      &--2 {
        @media (min-width: 640px) {
          align-self: end;
        }
      }

      &--3 {
        @media (min-width: 640px) {
          grid-column: span 2;
          width: 50%;
          justify-self: center;
        }
      }

      &__img {
        width: 75px;
        height: 75px;
        margin-block-end: 3rem;

        img {
          border-radius: 100%;
        }
      }

      &__text {
        font-size: 1.85rem;
        line-height: 1.75em;
        color: var(--color-very-dark-gray-blue);
        margin-block-end: 3rem;
      }

      &__name {
        font-size: 1.85rem;
        font-weight: 900;
        color: var(--color-very-dark-desat-blue);
        margin-block-end: 1rem;
      }

      &__job {
        font-size: 1.45rem;
        color: var(--color-gray-blue);
      }
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__footer {
    position: relative;
    background-color: hsl(168, 34%, 66%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-inline: 3.5rem;

    @media (min-width: 640px) {
      align-items: center;
    }

    .footer {
      &__container {
        max-width: 39rem;
      }

      &__title {
        scale: 1.4;
        margin: 0 auto;
        filter: invert(60%) sepia(4%) saturate(5549%) hue-rotate(116deg)
          brightness(88%) contrast(91%);

        margin-block-start: 6.8rem;
        margin-block-end: 4.7rem;

        @media (min-width: 640px) {
          scale: 1.6;
        }
      }

      .footer__nav {
      }

      &__links {
        display: flex;
        gap: 1.5rem;
        font-size: 1.8rem;
        justify-content: space-between;
        margin-block-end: 8.9rem;

        @media (min-width: 640px) {
          gap: 5rem;
          font-size: 2rem;
          margin-block-end: 7rem;
        }

        a:link,
        a:visited {
          text-decoration: none;
          color: hsl(168, 52%, 34%);
        }

        a:hover,
        a:active {
          color: var(--color-white);
        }
      }

      &__social-links {
        display: flex;
        justify-content: center;
        gap: 2.6rem;
        margin-block-end: 8rem;

        @media (min-width: 640px) {
          gap: 2.5rem;
          scale: 1.1;
        }
      }

      &__social-link:hover {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7499%) hue-rotate(315deg) brightness(105%) contrast(100%);
      }
    }
  }
}

.highlight {
  position: relative;
  width: fit-content;
  overflow: visible;

  &::before {
    content: "";
    position: absolute;
    top: 1.15rem;
    left: 0;
    right: 0;
    bottom: -0.25rem;
    border-radius: 50px;
  }

  &--1::before {
    background-color: hsla(51, 100%, 49%, 0.35);
  }

  &--2::before {
    background-color: hsla(7, 99%, 70%, 0.25);
  }
}
