/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors

  // Primary
  --color-soft-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  // graphic design text
  --color-dark-desat-cyan: hsl(167, 40%, 24%);
  // photography text
  --color-dark-blue: hsl(198, 62%, 26%);
  // footer
  --color-dark-mod-cyan: hsl(168, 34%, 41%);

  // Neutral
  --color-very-dark-desat-blue: hsl(212, 27%, 19%);
  --color-very-dark-gray-blue: hsl(213, 9%, 39%);
  --color-dark-gray-blue: hsl(232, 10%, 55%);
  --color-gray-blue: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%);
}

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.agency {
  &__hero--bg {
    background-image: url("assets/images/mobile/image-header.jpg");
    padding-block-start: 2.5rem;
    padding-block-end: 49rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    color: var(--color-white);

    @media (min-width: 550px) {
      background-image: url("assets/images/desktop/image-header.jpg");
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;

    .nav__logo {
    }

    .nav__right {
      cursor: pointer;
    }
  }

  &__hero {
    .hero__title {
      position: absolute;
      top: 25%;
      font-size: 4.1rem;
      text-transform: uppercase;
      letter-spacing: 0.13em;
      font-weight: 900;

      @media (min-width: 550px) {
        top: 20%;
        transform: translate(40%);
      }
    }

    .hero__arrow {
      position: absolute;
      left: 45%;
      top: 52%;

      @media (min-width: 550px) {
        left: 48%;
        top: 33%;
      }
    }
  }

  &__learn {
    margin-block-start: -1rem;
    background-color: var(--color-white);

    @media (min-width: 550px) {
      margin-block-start: -4.5rem;
    }

    .learn {
      &__bot {
        display: flex;
        gap: 2.8rem;
        flex-direction: column;
        align-items: center;
        padding-inline: 3rem;
        padding-block-start: 6rem;
        padding-block-end: 7.4rem;
        color: var(--color-very-dark-desat-blue);
      }

      &__title {
        font-size: 3.15rem;
        font-weight: 900;
      }

      &__text {
        color: var(--color-dark-gray-blue);
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
        line-height: 1.8em;
      }

      &__more {
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
        cursor: pointer;
        padding-inline: 1rem;
      }
    }
  }

  .concept--2 {
    margin-block-start: -13.5rem;
  }

  &__concept {
    padding-inline: 3rem;
    padding-block-start: 2.5rem;
    padding-block-end: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    text-align: center;

    .concept {
      &__title {
        font-size: 2.85rem;
        font-weight: 900;
        margin-block-start: 34rem;
        margin-block-end: 4rem;

        &--1 {
          color: var(--color-dark-desat-cyan);
        }
        &--2 {
          color: var(--color-dark-blue);
        }
      }

      &__text {
        font-size: 1.5rem;
        text-wrap: stable;
        scale: 1.05;
        line-height: 1.65em;
        &--1 {
          color: var(--color-dark-desat-cyan);
        }
        &--2 {
          color: var(--color-dark-blue);
        }
      }
    }
  }

  &__tests {
    background-color: var(--color-white);
    margin-block-start: -14rem;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-block-start: 7rem;
    padding-block-end: 9rem;
    padding-inline: 3rem;

    .tests {
      display: flex;

      &__title {
        text-transform: uppercase;
        font-size: 1.65rem;
        font-weight: 900;
        letter-spacing: 4px;
        color: var(--color-gray-blue);
      }

      &__list {
        margin-block-start: 6rem;
        display: flex;
        flex-direction: column;
        gap: 6.5rem;
      }
    }

    .test {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__img {
        width: 75px;
        height: 75px;
        margin-block-end: 3rem;

        img {
          border-radius: 100%;
        }
      }

      &__text {
        font-size: 1.85rem;
        line-height: 1.75em;
        color: var(--color-very-dark-gray-blue);
        margin-block-end: 3rem;
      }

      &__name {
        font-size: 1.85rem;
        font-weight: 900;
        color: var(--color-very-dark-desat-blue);
        margin-block-end: 1rem;
      }

      &__job {
        font-size: 1.45rem;
        color: var(--color-gray-blue);
      }
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (min-width: 520px) {
      grid-template-columns: 1fr;
    }
  }

  &__footer {
    position: relative;
    background-color: hsl(168, 34%, 66%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-inline: 3.5rem;

    @media (min-width: 520px) {
      align-items: center;
    }

    .footer {
      &__container {
        max-width: 39rem;
      }

      &__title {
        scale: 1.4;
        margin: 0 auto;
        filter: invert(60%) sepia(4%) saturate(5549%) hue-rotate(116deg)
          brightness(88%) contrast(91%);

        margin-block-start: 6.8rem;
        margin-block-end: 4.7rem;
      }

      .footer__nav {
      }

      &__links {
        display: flex;
        gap: 1.5rem;
        font-size: 1.8rem;
        justify-content: space-between;
        margin-block-end: 8.9rem;

        @media (min-width: 520px) {
          gap: 3.5rem;
        }

        a:link,
        a:visited {
          text-decoration: none;
          color: hsl(168, 52%, 34%);
        }

        a:hover,
        a:active {
          color: var(--color-white);
        }
      }

      &__social-links {
        display: flex;
        justify-content: center;
        gap: 2.6rem;
        margin-block-end: 8rem;
      }

      &__social-link:hover {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7499%) hue-rotate(315deg) brightness(105%) contrast(100%);
      }
    }
  }
}

.highlight {
  position: relative;
  width: fit-content;
  overflow: visible;

  &::before {
    content: "";
    position: absolute;
    top: 1.15rem;
    left: 0;
    right: 0;
    bottom: -0.25rem;
    border-radius: 50px;
  }

  &--1::before {
    background-color: hsla(51, 100%, 49%, 0.35);
  }

  &--2::before {
    background-color: hsla(7, 99%, 70%, 0.25);
  }
}
